﻿@page "/AddCustomer"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject CustomerStore customerStore
@inject NavigationManager NavigationManager

<h2>Add Customer</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@customer.Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateCustomer" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</form>

@code {
    Customer customer = new Customer();
    protected async void CreateCustomer()
    {
        await Task.Run(() => customerStore.Add(customer));
        NavigationManager.NavigateTo("Customers");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Customers");
    }
}
