﻿@page "/AddOrder"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject OrderStore store
@inject CustomerStore customerStore
@inject ProductStore productStore
@inject NavigationManager NavigationManager

<h2>New Order</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Order Date</label>
                <input form="Name" type="date" class="form-control" @bind="@obj.OrderDate" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Customer</label>
                <select class="form-control selectpicker" @bind="obj.CustomerId">
                    @foreach (var item in customers)
                    {
                        <option value="@item.Id">@item.Name</option> 
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Order Date</label>
                <input form="Name" type="date" class="form-control" @bind="@obj.OrderDate" />
            </div>
            @if (obj.Lines != null)
            {
                <div class="form-group">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var line in obj.Lines)
                        {
                            <tr>
                            <td>
                                <select class="form-control selectpicker" @bind="line.ProductId">
                                    @foreach (var item in products)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </td>
                            <td><input form="Quantity" type="number" class="form-control" @bind="@line.Quantity"/></td>
                            <td>
                                <a class="nav-link" @onclick="() => Delete(line)">
                                    <span class="oi oi-trash" aria-hidden="true">Delete</span>
                                </a>                            
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Add" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                <input type="button" class="btn btn-primary" @onclick="@AddItem" value="Add Item" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Order obj = new Order();
    List<Customer> customers = new List<Customer>();
    List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        obj = new Order
        {
            OrderDate = DateTime.Now, 
            Lines = new List<OrderLine> {new OrderLine()}, 
            Status = "new"
        };
        customers = await Task.Run(() => customerStore.Get().ToList());
        products = await Task.Run(() => productStore.Get().Where(p => p.Active = true).ToList());
    }
    protected async void Add()
    {
        //obj.Customer = null;
        await Task.Run(() => store.Add(obj));
        NavigationManager.NavigateTo("/");
    }
    protected async void Delete(OrderLine line)
    {
        obj.Lines.Remove(line);
    }

    protected void AddItem()
    {
        obj.Lines.Add(new OrderLine());
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
