﻿@page "/AddProduct"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject ProductStore store
@inject NavigationManager NavigationManager

<h2>Add Product</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@entity.Name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Create" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</form>

@code {
    Product entity = new Product{Active = true};
    protected async void Create()
    {
        await Task.Run(() => store.Add(entity));
        NavigationManager.NavigateTo("Products");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Products");
    }
}
