﻿@page "/Customers"
@using OrderSystem.Data
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject CustomerStore customerStore

<NavLink class="nav-link" href="AddCustomer">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<h1>Customers</h1>
@if (customers is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>
                        <a class="nav-link" href="EditCustomer/@customer.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="DeleteCustomer/@customer.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Customer> customers;
    protected override async Task OnInitializedAsync()
    {
        customers = await Task.Run(() => customerStore.Get().ToList());
    }
}
