﻿@page "/DeleteCustomer/{Id}"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject CustomerStore customerStore
@inject NavigationManager NavigationManager

<h2>Delete Customer</h2>
<hr />
<h3>Are you sure want to delete this customer?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">

            <div class="form-group">
                <label>Name:</label>
                <label>@customer.Name</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Customer customer = new Customer();
    protected override async Task OnInitializedAsync()
    {
        customer = await Task.Run(() => customerStore.Get(Convert.ToInt32(Id)));
    }
    protected async void Delete()
    {
        await Task.Run(() => customerStore.Delete(customer.Id));
        NavigationManager.NavigateTo("Customers");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Customers");
    }
}
