﻿@page "/DeleteProduct/{Id}"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject ProductStore store
@inject NavigationManager NavigationManager

<h2>Delete Product</h2>
<hr />
<h3>Are you sure want to delete this product?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">

            <div class="form-group">
                <label>Name:</label>
                <label>@entity.Name</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Product entity = new Product();
    protected override async Task OnInitializedAsync()
    {
        entity = await Task.Run(() => store.Get(Convert.ToInt32(Id)));
    }
    protected async void Delete()
    {
        await Task.Run(() => store.Delete(entity.Id));
        NavigationManager.NavigateTo("Products");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Products");
    }
}
