﻿@page "/DeleteOrder/{Id}"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject OrderStore store
@inject NavigationManager NavigationManager

<h2>Delete Order</h2>
<hr />
<h3>Are you sure want to delete this order?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">

            <div class="form-group">
                <label>Order Date:</label>
                <label>@entity.OrderDate.ToShortDateString()</label>
            </div>
            <div class="form-group">
                <label>Customer:</label>
                <label>@entity.Customer?.Name</label>
            </div>
            <div class="form-group">
                <label>Delivery Data:</label>
                <label>@entity.DeliveryDate.ToShortDateString()</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Order entity = new Order();

    protected override async Task OnInitializedAsync()
    {
        entity = await Task.Run(() => store.Get(Convert.ToInt32(Id)));
    }
    protected async void Delete()
    {
        await Task.Run(() => store.Delete(entity.Id));
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
