﻿@page "/EditCustomer/{Id}"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject CustomerStore customerStore
@inject NavigationManager NavigationManager

<h2>Edit Customer</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Customer obj = new Customer();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => customerStore.Get(Convert.ToInt32(Id)));
    }
    protected async void Update()
    {
        await Task.Run(() => customerStore.Update(obj));
        NavigationManager.NavigateTo("Customers");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Customers");
    }
}
