﻿@page "/EditProduct/{Id}"
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject ProductStore store
@inject NavigationManager NavigationManager

<h2>Edit Product</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Active</label>
                <input form="Name" type="checkbox" class="form-control" @bind="@obj.Active" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Product obj = new Product();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => store.Get(Convert.ToInt32(Id)));
    }
    protected async void Update()
    {
        await Task.Run(() => store.Update(obj));
        NavigationManager.NavigateTo("Products");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Products");
    }
}
