﻿@page "/"

@using OrderSystem.Data
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject OrderStore store

<NavLink class="nav-link" href="AddOrder">
    <span class="oi oi-plus" aria-hidden="true">New Order</span>

</NavLink>

<h1>Order System</h1>

@if (entities is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Customer</th>
                <th>Delivery Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in entities)
            {
            <tr>
                <td>@entity.OrderDate.ToShortDateString()</td>
                <td>@entity.Customer.Name</td>
                <td>@entity.DeliveryDate.ToShortDateString()</td>
                <td>@entity.Status</td>
                <td>
                    <a class="nav-link" href="EditOrder/@entity.Id">
                        <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                    </a>
                    <a class="nav-link" href="DeleteOrder/@entity.Id">
                        <span class="oi oi-trash" aria-hidden="true">Delete</span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Order> entities;
    protected override async Task OnInitializedAsync()
    {
        entities = await Task.Run(() => store.GetOrders().ToList());
    }
}
