﻿@page "/Products"
@using OrderSystem.Data
@using OrderSystem.Data.Model
@using OrderSystem.Data.Store
@inject ProductStore store

<NavLink class="nav-link" href="AddProduct">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>
</NavLink>

<h1>Products</h1>
@if (entities is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in entities)
            {
            <tr>
                <td>@entity.Name</td>
                <td>@entity.Active</td>
                <td>
                    <a class="nav-link" href="EditProduct/@entity.Id">
                        <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                    </a>
                    <a class="nav-link" href="DeleteProduct/@entity.Id">
                        <span class="oi oi-trash" aria-hidden="true">Delete</span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Product> entities;
    protected override async Task OnInitializedAsync()
    {
        entities = await Task.Run(() => store.Get().ToList());
    }
}
